* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img, embed, object, video {
	max-width: 100%;
}


.name {
	text-align: right;
	text-transform: uppercase;
	color: #839192;
	font-family: 'Raleway', sans-serif;
	font-size: 300%;
}

.nameTitles {
	text-align: right;
	color: #839192;
	font-family: 'Raleway', sans-serif;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.KCLogo-img {
     width: 150px;
     height: 100%;
}

.navbar {
	align-content: center;
	text-align: center;
	background-color: black;
	color: white;
	margin: 2% 1%;
	padding: 5px 0;
	font-family: 'Raleway', sans-serif;
}

.navbar:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.main-img {
	height: 500px; 
	width: 100%
}

h1, h3, h5, p {
	margin: 2% 0;
	align-content: center;
	text-align: center;
}

.portfolioTitle{
	color: #BCBBBB;
	text-align: center;
	align-content: center;
}

.mobile-dev-img {
	height: 150px; 
	width: 150px
}

.non-mobile-dev-img {
	height: 150px; 
	width: 350px
}

.projects{
	align-content: center;
	text-align: center;
}

.twitter-img {
	border:0;
	width:88px;
	height:31px
}


.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;

}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    margin-bottom: 20px;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}